## .NET
bin/
obj/
*.user
*.suo
*.userosscache
*.sln.docstates
.vs/
*.DotSettings.user

## Secrets / env
.env
*.pfx
appsettings.*.local.json

## OS
Thumbs.db
Desktop.ini
.DS_Store

## IDE
.idea/
.vscode/*
!.vscode/extensions.json

## Test / coverage
TestResults/
coverage/

## EF
**/Migrations/**/Designer.cs.bak
